#login-form, #clock, #greeting,
#todo-form, #todo-list, #bible,
#weather, #info, #plz-addTodo, 
#webPage, #bg-opacity {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);    
  text-align: center;
  color: aliceblue;
  position: absolute;
}


body {
  margin: 0;
  padding: 0;
  
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  white-space:nowrap;

  text-shadow: var(--text-edge);
}

#bg-opacity {
  width: 100%;
  height: 100%;

  background-color: rgba(35, 35, 35, 0.215);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.hidden{
  display: none;
}

.midline{

  text-decoration: line-through; 
  color: rgba(255, 255, 255,0.7);
  text-shadow: none;

}
