@import "variables.css";


body {
  margin: 0;
  padding: 0;
  
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  white-space:nowrap;

  text-shadow: var(--text-edge);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.hidden{
  display: none;
}

#login-form, #clock, #greeting,
#todo-form, #todo-list, #bible,
#weather, #info, #plz-addTodo, #webPage {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);    /* 요소를 중앙 정렬 */
  text-align: center;
  color: aliceblue;
  position: absolute;
}

@keyframes bounce {
  0%{transform: translateX(0);}
  50%{transform: translateX(-10px);}
  100%{transform: translateX(0);}
}

#login-form {
  top: 5%;
  left: 90%;
}

#login-form i{
  /* margin-right: 15px; */
  text-shadow:none;
  animation: bounce 1.5s infinite;
}


#login-form input{
  width: 200px;
  height: 25px;
  
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  
  text-align: center;
  font-weight: 800;
  color: white;
  font-size: 18px;

  text-shadow:  var(--text-edge);

  outline: none;

}


#login-form ::placeholder{
  color:rgb(255, 255, 255);
  
}

#clock {
  top: 40%;
  left: 47%;

  font-family: "Rubik Scribble", system-ui;
  font-weight: 900;
  font-style: normal;
  text-shadow: -1px -1px 0 black;
  font-size: 130px;

}

#clock span:last-child{
  top: 50%;
  left: 105%;
  position: absolute;
  font-size: 45px;
}

#greeting{
  top: 2.5%;
  left: 91%;

  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}


#todo-form {
  /* display: none; */
  margin-top: 20px;
}

#todo-form input{
  width: 1000px;
  height: 40px;

  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: var(--text-edge);

  border: none;
  border-bottom: 2px solid white ;
  background-color: transparent;

  outline: none; 
}

#todo-form input::placeholder{
  color: white;
}

#todo-list {
  /* display: none; */
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: start;
  top: 60%;
  height: 100px;
  width: 100px;

  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

#todo-list li{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

#todo-list li input{
  width: 25px;
  height: 25px;

}

#todo-list li span{
  margin-top: 5px;
  padding-right: 10px;

}
#todo-list li i:hover, #todo-list li input:hover{
  cursor: pointer;
}

#bible {
  display: flex;
  flex-direction: column;
  align-items: center;

  top: 95%;

  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  top: 8%;
  left: 6%;

  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
}

@keyframes blink {

  0%{
    color: white;
  }
  50%{
    color: rgb(179, 225, 243);    
  }
  100%{
    color: white;
  }
}

#info {
  top: 78%;
  animation: blink 2s infinite;

  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}

#plz-addTodo {
  top: 70%;

  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  
}