
@keyframes bounce {
  0%{transform: translateX(0);}
  50%{transform: translateX(-10px);}
  100%{transform: translateX(0);}
  
}

#login-form {
  top: 5%;
  left: 90%;

}

#login-form i{

  text-shadow:none;
  animation: bounce 1.5s infinite;
}


#login-form input{
  width: 200px;
  height: 25px;
  
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  
  text-align: center;
  font-weight: 800;
  color: white;
  font-size: 18px;

  text-shadow:  var(--text-edge);

  outline: none;

}


#login-form ::placeholder{
  color:rgb(255, 255, 255);
  
}