#webPage {
  top: 4.5%;
  display: flex;
 }
 
 #webPage a{
   border : 2px solid white;
   border-radius: 13%;

   padding: 4px 4px;
   margin: 0px 12px;
 }
 
 #webPage i{
   margin-top: 3px;
 
   width: 35px;
   height: 35px;
   font-size: 30px;
 
   color: white;
 
   text-shadow: none;
   text-align: center;
 }
 